<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name = "map_size_x" default = "5000"/>
  <arg name = "map_size_y" default = "5000"/>
  <arg name = "resolution" default = "0.01"/>
  <arg name = "calibration" default = "false"/>

  <node pkg="occupancy_grid_mapping" type="main" name="main"  output="screen">
  	<param name="map_size_x_" value="$(arg map_size_x)"/>
  	<param name="map_size_y_" value="$(arg map_size_y)"/>
  	<param name="resolution_" value="$(arg resolution)"/>
  	<param name="calib" value="$(arg calibration)"/>
  </node>
<!--bag_filename:=-->
  <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_filename)" />

</launch>
